<br>
<div class="row">
    <div class="col-4">
        <div class="accordion" id="accordionExampleY">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOneY">
                <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#collapseOneY" aria-expanded="true" aria-controls="collapseOneY">
                  <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>Consultas
                </button>
              </h2>
              <div id="collapseOneY" class="accordion-collapse collapse show" aria-labelledby="headingOneY" data-mdb-parent="#accordionExampleY">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              
                  <button type="button" class="btn btn-info btn-rounded" [routerLink]="['/consultas']">Go</button>
                </div>
              </div>
              
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwoY">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#collapseTwoY" aria-expanded="false" aria-controls="collapseTwoY">
                  <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>Calendario
                </button>
              </h2>
              <div id="collapseTwoY" class="accordion-collapse collapse" aria-labelledby="headingTwoY"
                data-mdb-parent="#accordionExampleY">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by
                  default, until the collapse plugin adds the appropriate classes that we use to
                  style each element. These classes control the overall appearance, as well as
                  the showing and hiding via CSS transitions. You can modify any of this with
                  custom CSS or overriding our default variables. It's also worth noting that
                  just about any HTML can go within the <code>.accordion-body</code>, though the
                  <!-- transition does limit overflow. <button type="button" class="btn btn-info btn-rounded" [routerLink]="['/calendario']"  >Info</button> -->
                  <nav>
                    <a routerLink="/consultas">Heroes</a>
                  </nav>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThreeY">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#collapseThreeY
                  " aria-expanded="false" aria-controls="collapseThreeY">
                  <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>Especialidades
                </button>
              </h2>
              <div id="collapseThreeY" class="accordion-collapse collapse" aria-labelledby="headingThreeY"
                data-mdb-parent="#accordionExampleY">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by
                  default, until the collapse plugin adds the appropriate classes that we use to
                  style each element. These classes control the overall appearance, as well as
                  the showing and hiding via CSS transitions. You can modify any of this with
                  custom CSS or overriding our default variables. It's also worth noting that
                  just about any HTML can go within the <code>.accordion-body</code>, though the
                  transition does limit overflow. <button type="button" class="btn btn-info btn-rounded" [routerLink]="['/especialidades']" >Info</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeY">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#collapseFourY" aria-expanded="false" aria-controls="collapseThreeY">
                    <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>Historial
                  </button>
                </h2>
                <div id="collapseFourY" class="accordion-collapse collapse" aria-labelledby="headingThreeY"
                  data-mdb-parent="#accordionExampleY">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by
                    default, until the collapse plugin adds the appropriate classes that we use to
                    style each element. These classes control the overall appearance, as well as
                    the showing and hiding via CSS transitions. You can modify any of this with
                    custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the
                    transition does limit overflow. <button type="button" class="btn btn-info btn-rounded" [routerLink]="['/historial']" >Info</button>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThreeY">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#collapseFiveY" aria-expanded="false" aria-controls="collapseThreeY">
                    <i class="fas fa-question-circle fa-sm me-2 opacity-70"></i>Horarios
                  </button>
                </h2>
                <div id="collapseFiveY" class="accordion-collapse collapse" aria-labelledby="headingThreeY"
                  data-mdb-parent="#accordionExampleY">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by
                    default, until the collapse plugin adds the appropriate classes that we use to
                    style each element. These classes control the overall appearance, as well as
                    the showing and hiding via CSS transitions. You can modify any of this with
                    custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the
                    transition does limit overflow. <button type="button" class="btn btn-info btn-rounded" [routerLink]="['/horarios']">Info</button>
                  </div>
                </div>
              </div>
          </div>
    </div>
  </div>
